.name-form {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: max(59.7%, 400px);
  height: 200px;
  position: relative;
  border-radius:0.15em;
}

.name-form input {
  width: 45%;
  background-color: #eeeeee;
  padding: 0.5rem 1rem;
  border: 3px solid #222831;
  color: #222831;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius:0.15em;
}

.name-form input::placeholder {
  color: rgb(34, 40, 49, 0.4);
}

.name-form button {
  display:inline-block;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding:0.8em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#222831;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  cursor: pointer;
}
.name-form button {
  top:0.1em;
}
@media all and (max-width:30em){
  .name-form button{
    display:block;
    margin:0.4em auto;
  }
}

.name-form section {
  position: absolute;
  top: 30px;
}
.name-form .error-message {
  color: #222831;
  font-size: max(1.3vw, 10px);
}

.name-form div {
  width: 100%;
}