.update-artist-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.update-artist-form input {
  width: 75%;
  background-color: #eeeeee;
  padding: 0.5rem 1rem;
  border: 3px solid #222831;
  color: #222831;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 3px;
  box-sizing: border-box;
  border-radius:0.15em;
}

.update-artist-form input::placeholder {
  color: rgb(34, 40, 49, 0.4);
}

.update-artist-form button {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#222831;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  cursor: pointer;
  font-size: 14px;
}
.update-artist-form button {
  top:0.1em;
}
@media all and (max-width:30em){
  .update-artist-form button{
    display:block;
    margin:0.4em auto;
  }
}

.update-artist-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #222831;
  font-weight: bold;
  font-size: max(1vw, 8px);
}

.update-artist-form .error-message-update-form {
  color: #222831;
  font-size: max(1.3vw, 10px);
  position: absolute;
  top: -20px;
  left: -20px;
}
