.header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  color: #222831;
  display: flex;
  justify-content: center;
}

.header  h1 {
  font-size: max(4vw, 30px);
  line-height: 100px;
  font-family: 'Wallpoet', cursive;
  background-color: #eeeeee;
  width: max(60%, 400px);
  margin-bottom: 10px;
}